spring:
  jpa:
    show-sql: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri:
          jwk-set-uri: ${KEYCLOAK_JWK_URI}

app:
  jwt:
    issuer-uri: ${KEYCLOAK_ISSUER_URI}
    jwk-set-uri: ${KEYCLOAK_JWK_URI}

logging:
  level:
    com.lexsecura: DEBUG
